<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
      <div class="lg:order-last">
        <p class="text-sm leading-normal font-bold uppercase text-accent-600">
          AIエージェントプラットフォーム
        </p>
        <h2
          class="text-xl leading-tight tracking-tight sm:text-2xl md:text-3xl capitalize lg:text-4xl mt-4 font-semibold text-base-900">
         Case Study: Oriagent
        </h2>
        <p class="text-base leading-normal mt-4 text-base-500 font-medium">
         OriAgent is an enterprise-ready AI co-pilot - built to streamline operations, enhance customer experience, and empower teams.
 
        From sales to support, it connects to your real business data - chats, CRMs, product catalogs, and files - to deliver intelligent, real-time assistance across every channel.
        </p>
        <div class="flex flex-wrap items-center gap-2 mx-auto mt-12">
          <a
            href="https://app.oriagent.com/signin"
            class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-white bg-accent-600 hover:bg-accent-700 focus:ring-accent-500/50 h-9 px-4 py-2 text-sm font-medium rounded-md">
            プラットフォームデモ
          </a>
          <a
            href="https://app.oriagent.com/signin"
            class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-base-500 bg-white hover:text-accent-500 ring-1 ring-base-200 focus:ring-accent-500 h-9 px-4 py-2 text-sm font-medium rounded-md">
            お問い合わせ
          </a>
        </div>
      </div>
      <div class="lg:col-span-2">
        <img
          class="object-cover h-full ring-4 ring-base-50 border border-base-200 rounded-2xl"
          src="https://oriagent.com/ori1.png"
          alt="#_"
        />
      </div>
    </div>
   
  </div>
</section>
