---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
---
<html
  lang="en"
  class="scroll-smooth selection:bg-accent-500 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <Navigation/>
    <main class="grow"><slot /></main>
    <Footer/>

    <!-- ✅ Chatbot script -->
    <script>
      window.oriagentChatbotConfig = {
        token: '4Um3UkjFflTnMUuD',
        baseUrl: 'https://app.oriagent.com'
      };
    </script>
    <script
      src="https://app.oriagent.com/embed.min.js"
      id="4Um3UkjFflTnMUuD"
      defer>
    </script>
  </body>
</html>
